body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, rgba(2, 10, 1, 0.897), rgb(50, 145, 55));
}

h1 {
    text-align: center;
}

#gameBoard {
    margin: auto;
    height: 90%;
    width: 90%;
    display: block;
}

#dealerGameMat {
    border: 5px solid wheat;
    border-radius: 1em;
    height: 20vh;
    width: 15vh;
    display: block;
    margin: 5vh auto;
}

#insuranceBar{
    border: 3px solid wheat;
    border-radius: 1em;
    color: wheat;
    background: rgba(26, 26, 156, 0.562);
    height: 5vh;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    z-index: 2;
}

#playerGameMats {
    height: 20vh;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.playmats {
    border: 5px solid wheat;
    border-radius: 1em;
    height: 20vh;
    width: 15vh;

}

#dealerStack {
    height: 100%;
    width: 100%;
}

#playerCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110%;
    width: 110%;
    border-color: black;
    border: 2px solid black;
    margin-bottom: -18vh;
    z-index: 1;
}

#chipPiles {
    height: 11vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.chips {
    border: 5px solid darkred;
    border-radius: 4em;
    height: 10vh;
    width: 15vh;
}

#buttonBlock {
    height: 10vh;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardButtons {
    border: 3px solid black;
    border-radius: 4em;
    height: 7vh;
    width: 15vh;
    margin: 0.3vh;
}

#betDisplay {
    margin: auto;
}