body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    height: 100vh;
    background: linear-gradient(-45deg, rgba(2, 10, 1, 0.897), rgb(50, 145, 55));
}

#gameBoard {
    margin: auto;
    height: 90vh;
    display: block;
}

#dealerGameMat {
    border: 5px solid wheat;
    border-radius: 1em;
    height: 20vh;
    width: 15vh;
    display: block;
    margin: 5vh auto;
}

#insuranceBar{
    border: 3px solid wheat;
    border-radius: 1em;
    color: wheat;
    text-align: center;
    background: rgba(26, 26, 156, 0.562);
    margin: auto;
    height: 5vh;
    width: 100vh;
}

#playerGameMats {
    height: 20vh;
    width: 100vw;
    margin: 10vh 0 3vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.playmats {
    border: 5px solid wheat;
    border-radius: 1em;
    height: 20vh;
    width: 15vh;
}

#chipPiles {
    height: 11vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.chips {
    border: 5px solid darkred;
    border-radius: 4em;
    height: 10vh;
    width: 15vh;
}

#hitStayButtons {
    height: 10vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardButtons {
    border: 3px solid black;
    border-radius: 4em;
    height: 7vh;
    width: 15vh;
    margin: 0.3vh;
}

#floatingButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.float{
	width:60px;
	height:1vh;
	left:40px;
	background-color:rgb(35, 180, 216);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    margin: 0 0 10vh 0;
}
